@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
:root {
  --clr-cream: hsl(30, 38%, 92%);
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-dark-green: hsl(158, 26%, 20%);
  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
  --border-radius: 0.75em;
  --letter-spacing: 1.2px;
}
body {
  letter-spacing: var(--letter-spacing);
}
p {
  font-size: 1rem;
}
.product-wrapper {
  background-color: var(--clr-cream);
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container {
  background-color: var(--clr-white);
  max-width: 570px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 1.125rem 1rem;
}
.product-img {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: 0;
}
.product-info {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top-right-radius: 0;
}

.spaced {
  color: var(--clr-dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  margin: 1rem 0;
}
.title {
  color: var(--clr-dark-blue);
  font-family: 'Fraunces', serif;
  width: 80%;
  font-size: 2.25rem;
  margin: 1rem 0;
}
.desc {
  color: var(--clr-dark-grayish-blue);
  font-family: 'Montserrat', sans-serif;
}
.price {
  color: var(--clr-dark-cyan);
  font-family: 'Fraunces', serif;
  font-size: 2.25rem;
  margin: 1rem 0;
}
del {
  color: var(--clr-dark-grayish-blue);
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
.btn {
  width: 90%;
  padding: 1em 0;
  background-color: var(--clr-dark-cyan);
  border: none;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  cursor: pointer;
  margin: 1rem 0;
}
.btn:hover,
.btn:active {
  background-color: var(--clr-dark-green);
}
.btn i {
  margin: 0 1rem;
}

@media screen and (max-width: 460px) {
  .product-wrapper {
    align-items: start;
  }
  .product-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.65fr 1fr;
  }
  .product-img {
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
  }
  .img-responsive {
    padding: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
  }
}
